body{

    background-color: aliceblue(61,61, 163);

}

.vorm{
width: 500px;
height: 600px;
background-color: hwb(315 0% 0%);
margin-top: 30px;

border-radius: 25px;
box-shadow: 0 10px 25px #940688;

}

img{

    position: absolute;
    left: 730px;
    top: 1px;
    
}

.txt{

position: absolute;
    left: 730px;
    top: 1px;

}


.lxs{

    position: absolute;
        left: 100px;
        top: 500px;
    
    }

    
